<ion-view title="Chat" hide-back-button="true">
    <ion-nav-buttons side="primary">
      <button class="button button-icon ion-power" ng-click="logout()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-ios-chatboxes" ng-click="addMessage()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item ng-repeat="message in messages">
              {{message.message}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view
